<html>
<head>
</head>
<body>
<h1>API example</h1>

<p>
    Please, use <em>POST</em> method on <em>/api/products</em> to create a product. Method body should be a valid JSON
    with fields <em>name</em> (string) and <em>price</em> (number).
</p>
</body>
</html>
